body {
  margin: 0;
  padding: 0;
  font-family: 'Lugrasimo', cursive;
  font-style: normal;
}

.header {
  display: flex;
  position: relative;
  height: 15%;
  padding-left: 5vw;
  background-image: url("./images/mushroom-background.avif");
  text-shadow: 0.15em 0 black,
    0 0.15em black,
    -0.15em 0 black,
    0 -0.15em black;
  color: white;
}

.headerTitle {
  position: relative;
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 3vw;
}

.teamsContainer {
  position: relative;
}

/* Friendly Party */
.friendlyPartyContainer {
  width: 50%;
  float: left;
  box-sizing: border-box;
  border: 1em ridge #1d7d36;
  height: 100%;
  display: flex;
  position: relative;
}

.friendlyPartyTitle {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 5vw;
  font-style: italic;
  color: #c3c7d4;
}

.friendlyParty {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  height: 100%;
  width: 100%;
}

/* Fight Button */
.fightButton {
  z-index: 2;
  font-size: 150%;
  position: absolute;
  background-color: #1d7d36;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: white;
  text-shadow: 0.08em 0 black,
    0 0.08em black,
    -0.08em 0 black,
    0 -0.08em black;
  transition: all 1s ease;
}

.fightButton:hover {
  height: 200px;
  width: 200px;
  font-size: 250%;
  background-color: #b51d1d;
}

.darkenBackground {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  visibility: hidden;
  opacity: 0;
  transition: all 1s ease;
}

.fightButton:hover+.darkenBackground {
  visibility: visible;
  opacity: 0.8;
}

/* Enemy Team */
.enemyTeamContainer {
  width: 50%;
  float: right;
  box-sizing: border-box;
  border: 1em ridge #6e1c19;
  height: 100%;
  display: flex;
  position: relative;
}

.enemyTeamTitle {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 5vw;
  font-style: italic;
  color: #c3c7d4;
}

.enemyTeam {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  height: 100%;
  width: 100%;
}

/* Character Options */
.characterOptionsContainer {
  height: 30%;
  width: 100%;
  box-sizing: border-box;
  border: 1em ridge #c4a44b;
  background-image: url('./images/Scroll-Background.jpeg');
  background-size: cover;
  display: flex;
}

.characterOptions {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;
  height: 100%;
  width: 100%;
}

/* Character */
.characterContainer {
  position: relative;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

.character {
  position: relative;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: repeat(6, 1fr);
  grid-column-gap: 0;
  grid-row-gap: 0;
  color: white;
  font-size: 1vw;
  text-shadow: 0.12em 0 black,
    0 0.12em black,
    -0.12em 0 black,
    0 -0.12em black;
}

.characterHover {
  z-index: 1;
  position: absolute;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100% / 3);
  color: white;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  font-size: 1.75vw;
}

.characterContainer:hover .characterHover {
  opacity: 1;
}

.moreInfo {
  color: blue;
  top: 0;
  background: linear-gradient(to bottom, white, rgba(0, 0, 0, 0.5));
}

.fillerShade {
  top: calc(100% / 3);
  background: rgba(0, 0, 0, 0.5);
}

.remove {
  color: red;
  bottom: 0;
  background: linear-gradient(to top, white, rgba(0, 0, 0, 0.5));
}

.textEnlarge {
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.textEnlarge:hover {
  transform: scale(1.1);
}

.ranger {
  background-color: white;
  background-image: linear-gradient(60deg, #295e21 50%, #6cc25f 50%);
}

.barbarian {
  background-color: white;
  background: linear-gradient(135deg, #9c2129 25%, transparent 25%) -32px 0/ 64px 64px, linear-gradient(225deg, #9e8a26 25%, transparent 25%) -32px 0/ 64px 64px, linear-gradient(315deg, #9c2129 25%, transparent 25%) 0px 0/ 64px 64px, linear-gradient(45deg, #9e8a26 25%, #9c2129 25%) 0px 0/ 64px 64px;
}

.warlock {
  background-color: #e5e5f7;
  background-image: radial-gradient(circle at center center, #7019a3, #e5e5f7), repeating-radial-gradient(circle at center center, #7019a3, #7019a3, 32px, transparent 64px, transparent 32px);
  background-blend-mode: multiply;
}

.rogue {
  background-color: #5e4807;
  background-image: linear-gradient(135deg, #000000 25%, transparent 25%), linear-gradient(225deg, #000000 25%, transparent 25%), linear-gradient(45deg, #000000 25%, transparent 25%), linear-gradient(315deg, #000000 25%, #5e4807 25%);
  background-position: 10px 0, 10px 0, 0 0, 0 0;
  background-size: 20px 20px;
  background-repeat: repeat;
}

.fighter {
  background-color: #0e6ba2;
  background: radial-gradient(circle, transparent 20%, #0e6ba2 20%, #0e6ba2 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, #0e6ba2 20%, #0e6ba2 80%, transparent 80%, transparent) 45px 45px, linear-gradient(#956b00 3.6px, transparent 3.6px) 0 -1.8px, linear-gradient(90deg, #956b00 3.6px, #0e6ba2 3.6px) -1.8px 0;
  background-size: 90px 90px, 90px 90px, 45px 45px, 45px 45px;
}

.monk {
  background-color: #b60000;
  background: repeating-linear-gradient(-28deg, #e6de65, #e6de65 13.5px, #b60000 13.5px, #b60000 67.5px);
}

.characterImage {
  grid-area: 1/1/5/4;
  size: 100%;
  background-size: contain;
  background-position: center;
  background-position: no-repeat;
}

.characterName {
  font-weight: bolder;
  font-size: larger;
  grid-area: 1/4/2/7;
  size: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.characterHealth {
  grid-area: 2/4/3/7;
  size: 100%;
  padding-left: 0.25em;
}

.characterArmourClass {
  grid-area: 3/4/4/7;
  size: 100%;
  padding-left: 0.25em;
}

.characterInitiative {
  grid-area: 4/4/5/7;
  size: 100%;
  padding-left: 0.25em;
}

.baseStat {
  display: flex;
  justify-content: center;
  align-items: center;
  size: 100%;
}

.characterStrength {
  grid-area: 5/1/6/3;
}

.characterDexterity {
  grid-area: 5/3/6/5;
}

.characterConstitution {
  grid-area: 5/5/6/7;
}

.characterIntelligence {
  grid-area: 6/1/7/3;
}

.characterWisdom {
  grid-area: 6/3/7/5;
}

.characterCharisma {
  grid-area: 6/5/7/7;
}

/* Character Modal */
.characterModalBackground {
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
}

.characterModalContainer {
  position: fixed;
  top: 50%;
  left: 50%;
  background-color: white;
  transform: translate(-50%, -50%);
  height: 80%;
  width: 40%;
  padding: 3em 1.5em;
}

.characterModal {
  position: relative;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: repeat(9, 1fr);
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 1.5em;
  grid-row-gap: 1em;
  color: white;
  text-shadow: 0.12em 0 black,
    0 0.12em black,
    -0.12em 0 black,
    0 -0.12em black;
}

.characterModalCloseButton {
  position: absolute;
  height: 4em;
  width: 4em;
  top: 0;
  right: 0;
  border-radius: 10%;
  background-image: url('./images/Close-Icon.png');
  background-size: cover;
  transition: opacity 0.3s ease;
  opacity: 0;
}

.characterModal:hover .characterModalCloseButton {
  opacity: 1;
}

.characterModalName {
  grid-area: 1/1/3/3;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5vw;
}

.characterModalImageContainer {
  grid-area: 3/1/6/2;
  size: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.characterModalImage {
  height: 100%;
  width: 60%;
  background-size: contain;
  background-position: center;
  background-position: no-repeat;
  box-shadow: 5px 5px 5px black;
}

.characterModalDescription {
  grid-area: 3/2/6/3;
  padding: 0.25em;
  font-size: 1.2vw;
}

.customScrollBar {
  overflow-y: scroll;
}

.customScrollbar::-webkit-scrollbar {
  width: 0.75em;
}

.customScrollBar::-webkit-scrollbar-track {
  background: black;
  border-radius: 100vw;
  margin-block: 0.3em;
}

.customScrollBar::-webkit-scrollbar-thumb {
  border: 0.2em solid black;
  border-radius: 100vw;
}

.rangerScroll::-webkit-scrollbar-thumb {
  background: linear-gradient(#295e21, #6cc25f);
}

.barbarianScroll::-webkit-scrollbar-thumb {
  background: linear-gradient(#9c2129, #9e8a26);
}

.warlockScroll::-webkit-scrollbar-thumb {
  background: linear-gradient(#7019a3, #e5e5f7);
}

.rogueScroll::-webkit-scrollbar-thumb {
  background: linear-gradient(#000000, #5e4807);
}

.fighterScroll::-webkit-scrollbar-thumb {
  background: linear-gradient(#0e6ba2, #956b00);
}

.monkScroll::-webkit-scrollbar-thumb {
  background: linear-gradient(#e6de65, #b60000);
}

.characterModalPrimaryStatsContainer {
  grid-area: 6/1/8/2;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
}

.modalPrimaryStat {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  font-size: 1.75vw;
}

.characterModalHealth {
  grid-area: 1/1/2/2;
}

.characterModalArmourClass {
  grid-area: 2/1/3/2;
}

.characterModalInitiative {
  grid-area: 3/1/4/2;
}

.characterModalBaseStatContainer {
  grid-area: 8/1/11/2;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.modalBaseStat {
  display: flex;
  align-items: center;
  justify-content: right;
  font-size: 1.1vw;
  cursor: pointer;
}

.saveToolTip {
  font-size: 1vw;
  visibility: hidden;
  position: absolute;
  text-align: center;
  align-items: center;
  background-color: #333;
  border-radius: 0.5em;
  padding: 0.25em;
  opacity: 0;
  transition: opacity 0.3s;
  pointer-events: none;
  min-width: 10vw;
}

.characterModalStrength {
  grid-area: 1/1/2/2;
}

.characterModalStrengthSave {
  left: 0.25vw;
  bottom: 8vw;
}

.characterModalStrength:hover .characterModalStrengthSave {
  visibility: visible;
  opacity: 0.95;
}

.characterModalDexterity {
  grid-area: 1/2/2/3;
}

.characterModalDexteritySave {
  left: 10vw;
  bottom: 8vw;
}

.characterModalDexterity:hover .characterModalDexteritySave {
  visibility: visible;
  opacity: 0.95;
}

.characterModalConstitution {
  grid-area: 2/1/3/2;
}

.characterModalConstitutionSave {
  left: -1vw;
  bottom: 5vw;
}

.characterModalConstitution:hover .characterModalConstitutionSave {
  visibility: visible;
  opacity: 0.95;
}

.characterModalIntelligence {
  grid-area: 2/2/3/3;
}

.characterModalIntelligenceSave {
  left: 10vw;
  bottom: 5vw;
}

.characterModalIntelligence:hover .characterModalIntelligenceSave {
  visibility: visible;
  opacity: 0.95;
}

.characterModalWisdom {
  grid-area: 3/1/4/2;
}

.characterModalWisdomSave {
  left: 0vw;
  bottom: 2vw;
}

.characterModalWisdom:hover .characterModalWisdomSave {
  visibility: visible;
  opacity: 0.95;
}

.characterModalCharisma {
  grid-area: 3/2/4/3;
}

.characterModalCharismaSave {
  left: 10vw;
  bottom: 2vw;
}

.characterModalCharisma:hover .characterModalCharismaSave {
  visibility: visible;
  opacity: 0.95;
}

.characterModalActionsAndBonusActions {
  position: relative;
  grid-area: 6/2/11/3;
  padding: 0.25em;
  font-size: 1.2vw;
}

/* DisplayActionsBonusActionsReactionsAndFeatures */
.aBAROrOTitle {
  text-decoration: underline;
  margin: 1em 0 0.5em;
  text-align: center;
}

.aBAROrOName {
  position: relative;
  cursor: pointer;
  width: 100%;
}

.aBAROrODescription {
  display: flex;
  position: fixed;
  visibility: hidden;
  min-height: 37%;
  width: 17vw;
  padding: 1em;
  bottom: 2.5%;
  right: 50%;
  text-align: center;
  align-items: center;
  background-color: #333;
  color: #fff;
  border-radius: 0.5em;
  opacity: 0;
  transition: opacity 0.3s;
  pointer-events: none;
}

.aBAROrO:hover .aBAROrODescription {
  visibility: visible;
  opacity: 0.95;
}