body {
  margin: 0;
  padding: 0;
  font-family: 'Lugrasimo', cursive;
  font-style: italic;
}

.header {
  margin-bottom: 0;
  height: 6em;
  line-height: 6em;
  padding-left: 2em;
  font-weight: 400;
  font-size: x-large;
  font-style: normal;
  background-image: url("./images/mushroom-background.avif");
  color: white;
  text-shadow: 0.12em 0 black,
    0 0.12em black,
    -0.12em 0 black,
    0 -0.12em black;
}

.teamsContainer {
  height: 80%;
}

/* Friendly Party */
.friendlyPartyContainer {
  width: 50%;
  float: left;
  box-sizing: border-box;
  border: 1em ridge #1d7d36;
  height: 100%;
  display: flex;
  position: relative;
}

.friendlyPartyTitle {
  position: absolute;
  z-index: 1;
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 450%;
  color: #c3c7d4;
}

.friendlyParty {
  z-index: 2;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
  height: 100%;
  width: 100%;
}

/* Enemy Team */
.enemyTeamContainer {
  width: 50%;
  float: right;
  box-sizing: border-box;
  border: 1em ridge #6e1c19;
  height: 100%;
  display: flex;
  position: relative;
}

.enemyTeamTitle {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 450%;
  color: #c3c7d4;
}

.enemyTeam {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
  height: 100%;
  width: 100%;
}

/* Character Options */
.characterOptionsContainer {
  height: 30%;
  width: 100%;
  box-sizing: border-box;
  border: 1em ridge #c4a44b;
  background-image: url('./images/Scroll-Background.jpeg');
  background-size: cover;
  display: flex;
}

.characterOptions {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;
  height: 100%;
  width: 100%;
}

/* Character */
.characterContainer {
  position: relative;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  overflow: auto;
}

.character {
  position: relative;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: repeat(6, 1fr);
  grid-column-gap: 0;
  grid-row-gap: 0;
  color: white;
  text-shadow: 0.12em 0 black,
    0 0.12em black,
    -0.12em 0 black,
    0 -0.12em black;
}

.characterHover {
  z-index: 1;
  position: absolute;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100% / 3);
  color: white;
  opacity: 0;
  transition: opacity 0.3s ease-in-out; 
  font-size: 200%;
}

.characterContainer:hover .characterHover {
  opacity: 1;
}

.moreInfo {
  color: blue;
  top: 0;
  background: linear-gradient(to bottom, white, rgba(0, 0 , 0, 0.5));
}

.fillerShade {
  top: calc(100% / 3);
  background: rgba(0, 0, 0, 0.5);
}

.remove {
  color: red;
  bottom: 0;
  background: linear-gradient(to top, white, rgba(0, 0 , 0, 0.5));
}

.textEnlarge {
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.textEnlarge:hover {
  transform: scale(1.1);
}

.ranger {
  background-color: white;
  background-image: linear-gradient(60deg, #295e21 50%, #6cc25f 50%);
}

.barbarian {
  background-color: white;
  background: linear-gradient(135deg, #9c2129 25%, transparent 25%) -32px 0/ 64px 64px, linear-gradient(225deg, #9e8a26 25%, transparent 25%) -32px 0/ 64px 64px, linear-gradient(315deg, #9c2129 25%, transparent 25%) 0px 0/ 64px 64px, linear-gradient(45deg, #9e8a26 25%, #9c2129 25%) 0px 0/ 64px 64px;
}

.warlock {
  background-color: #e5e5f7;
  background-image: radial-gradient(circle at center center, #7019a3, #e5e5f7), repeating-radial-gradient(circle at center center, #7019a3, #7019a3, 32px, transparent 64px, transparent 32px);
  background-blend-mode: multiply;
}

.characterImage {
  grid-area: 1/1/5/4;
  size: 100%;
  background-size: cover;
}

.characterName {
  font-weight: bolder;
  font-size: larger;
  grid-area: 1/4/2/7;
  size: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.characterHealth {
  grid-area: 2/4/3/7;
  size: 100%;
  padding-left: 0.25em;
}

.characterArmourClass {
  grid-area: 3/4/4/7;
  size: 100%;
  padding-left: 0.25em;
}

.characterWeapon {
  grid-area: 4/4/5/7;
  size: 100%;
  padding-left: 0.25em;
}

.baseStat {
  display: flex;
  justify-content: center;
  align-items: center;
  size: 100%;
}

.characterStrength {
  grid-area: 5/1/6/3;
}

.characterDexterity {
  grid-area: 5/3/6/5;
}

.characterConstitution {
  grid-area: 5/5/6/7;
}

.characterIntelligence {
  grid-area: 6/1/7/3;
}

.characterWisdom {
  grid-area: 6/3/7/5;
}

.characterCharisma {
  grid-area: 6/5/7/7;
}

/* Character Modal */
.characterModalBackground {
  z-index: 3;
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9); 
}

.characterModalContainer {
  z-index: 4;
  position: fixed;
  top: 50%;
  left: 50%;
  background-color: white;
  transform: translate(-50%, -50%);
  height: 80%;
  width: 40%;
  padding: 3em;
}

.characterModal {
  z-index: 4;
  position: relative;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: repeat(9, 1fr);
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  color: white;
  text-shadow: 0.12em 0 black,
    0 0.12em black,
    -0.12em 0 black,
    0 -0.12em black;
}

.characterModalCloseButton {
  z-index: 5;
  position: absolute;
  height: 4em;
  width: 4em;
  top: 0;
  right: 0;
  border-radius: 10%;
  background-image: url('./images/Close-Icon.png');
  background-size: cover;
  transition: opacity 0.3s ease;
  opacity: 0;
}

.characterModalContainer:hover .characterModalCloseButton {
  opacity: 1;
}

.characterModalName {
  grid-area: 1/1/3/3;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 500%;
}

.characterModalImageContainer {
  grid-area: 3/1/6/2;
  size: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.characterModalImage {
  height: 100%;
  width: 60%;
  background-size: cover;
  box-shadow: 5px 5px 5px black;
}

.characterModalDescription {
  grid-area: 3/2/6/3;
  padding: 0.25em;
}

.customScrollBar {
  overflow: auto;
}

.customScrollbar::-webkit-scrollbar {
  width: 1em;
}

.customScrollBar::-webkit-scrollbar-track {
  background: hsla(0, 0%, 0%, 1);
  border-radius: 100vw;
  margin-block: 0.5em;
}

.customScrollBar::-webkit-scrollbar-thumb {
  border: 0.25em solid hsl(0, 0%, 0%, 1);
  border-radius: 100vw;
}

.rangerScroll::-webkit-scrollbar-thumb {
  background: linear-gradient(#295e21, #6cc25f);
}

.barbarianScroll::-webkit-scrollbar-thumb {
  background: linear-gradient(#9c2129, #9e8a26);
}

.warlockScroll::-webkit-scrollbar-thumb {
  background: linear-gradient(#7019a3, #e5e5f7);
}


/* .customScrollBar::-webkit-scrollbar-thumb {
  background: #295e21;
}

.customScrollBar::-webkit-scrollbar-track {
  background-color: #295e21;
} */

.characterModalHealth {
  grid-area: 6/1/7/2;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 200%;
}

.characterModalArmourClass {
  grid-area: 7/1/8/2;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 200%;
}

.baseStatModal {
  grid-area: 8/1/10/2;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  font-size: 125%;
}

.characterModalStrength {
  grid-area: 1/1/2/2;
  display: flex;
  align-items: center;
  justify-content: right;
}

.characterModalDexterity {
  grid-area: 1/2/2/3;
  display: flex;
  align-items: center;
  justify-content: right;
}

.characterModalConstitution {
  grid-area: 2/1/3/2;
  display: flex;
  align-items: center;
  justify-content: right;
}

.characterModalIntelligence {
  grid-area: 2/2/3/3;
  display: flex;
  align-items: center;
  justify-content: right;
}

.characterModalWisdom {
  grid-area: 3/1/4/2;
  display: flex;
  align-items: center;
  justify-content: right;
}

.characterModalCharisma {
  grid-area: 3/2/4/3;
  display: flex;
  align-items: center;
  justify-content: right;
}

.characterModalWeapon {
  grid-area: 6/2/10/3;
}